<div class="social-navigator-wrapper"  [class.reversed]="reversed">
    <div class="social-navigator-container">
        <slider-button [reversed]="reversed" redirect="https://hu-hu.facebook.com/">
            <h1>Facebook</h1>
            <img src="" />
        </slider-button>
        <slider-button [reversed]="reversed"
            redirect="https://podcasts.apple.com/hu/podcast/b%C3%BCntet%C5%91-podcast/id1560110562">
            <h1>Podcasts</h1>
            <img src="" />
        </slider-button>
        <slider-button [reversed]="reversed" redirect="https://www.youtube.com/channel/UCnZqhCjV77i2pmeg26rKryg">
            <h1>Youtube</h1>
            <img src="" />
        </slider-button>
        <slider-button-group>
            <slider-button slider-button [reversed]="reversed" redirect="https://www.unibet.com/" [dark]="true">
                <h1>Unibet</h1>
                <img src="" />
            </slider-button>
            <slider-button slider-button [reversed]="reversed" redirect="https://www.unibet.com/" [dark]="true">
                <h1>Unibet</h1>
                <img src="" />
            </slider-button>
        </slider-button-group>
        <slider-button [reversed]="reversed" redirect="https://www.unibet.com/" [dark]="true">
            <h1>Unibet</h1>
            <img src="" />
        </slider-button>
    </div>
</div>