<div class="social-navigator-container">
        <slider-button-container [reversed]="reversed">
            <slider-button #sliderButton redirect="https://podcasts.apple.com/hu/podcast/b%C3%BCntet%C5%91-podcast/id1560110562">
                <h1>Facebook</h1>
                <img src="" />
            </slider-button>
            <slider-button #sliderButton redirect="https://podcasts.apple.com/hu/podcast/b%C3%BCntet%C5%91-podcast/id1560110562">
                <h1>Podcasts</h1>
                <img src="" />
            </slider-button>
            <slider-button #sliderButton  redirect="https://www.youtube.com/channel/UCnZqhCjV77i2pmeg26rKryg">
                <h1>Youtube</h1>
                <img src="" />
            </slider-button>
            <slider-button-group #sliderGroup>
                <slider-button #sliderButton redirect="https://www.unibet.com/" [dark]="true">
                    <h1>Unibet</h1>
                    <img src="" />
                </slider-button>
                <slider-button #sliderButton redirect="https://www.unibet.com/" [dark]="true">
                    <h1>Unibet</h1>
                    <img src="" />
                </slider-button>
            </slider-button-group>
            <slider-button #sliderButton [reversed]="!reversed" redirect="https://www.unibet.com/" [dark]="true">
                <h1>Unibet</h1>
                <img src="" />
            </slider-button>
        </slider-button-container>
</div>
